body {
    background-image: linear-gradient(
        to top,
        #fad0c4 0%,
        #ffd1ff 100%
    ) !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

.list-jobs {
    background-color: black;
}

.find-job-container {
    margin: 6.5% 0;
}

.find-job-filter {
    position: fixed;
    left: 20%x;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.footer {
    width: 100%;
    height: 8rem;
    background-color: white;
    text-align: center;
    color: black;
}

.sign-up-form input {
    height: 3.5rem;
    border: solid 2px #b2bec3 !important;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1) !important;
}

.sign-up-form input::placeholder {
    color: #b2bec3 !important;
    text-shadow: #7f8fa6 0.4px 0.4px 0.4px;
    font-size: 1rem !important;
    padding-bottom: 0.5rem;
}

.sign-up-form button {
    background-color: #fff !important;
    border: solid 2px #b2bec3 !important;
}

.ui.checkbox input.hidden + label {
    color: #636e72;
    text-decoration: underline;
}
